* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.form-block {
  background-color: cornflowerblue;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  padding-top: 10px;
}

.search-form {
  position: relative;
}

.search-form__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  height: 50px;
  padding-left: 10px;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  outline: none;
}

.search-form__btn {
  position: absolute;
  left: 93%;
  top: 52%;
  transform: translate(-50%, -50%);
  background-color: inherit;
  border: none;
  padding: 10 10;
}

.gallery-block {
  width: 1170px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.load-more {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: cornflowerblue;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 7%;
  padding: 10px 20px;
}
